@model IEnumerable<StoreSample.DomainEntities.Product>
@{
    ViewBag.Title = "Products";
}
<div class="row">
    <div class="col-md-3 col-sm-4">
        <div class="col-md-12">
            @Html.ActionLink("All", "Index")
        </div>
        @foreach(StoreSample.DomainEntities.Category category in ViewBag.Categories)
        {
            <div class="col-md-12">
                @Html.ActionLink(category.Name, "Index", new { categoryId = category.Id })
            </div>
        }
    </div>
    <div class="col-md-9 col-sm-8">
        <div style="font-weight:bold;" class="row">
            <div class="col-md-2">
                Image
            </div>
            <div class="col-md-2">
                Name
            </div>
            <div class="col-md-2">
                Description
            </div>
            <div class="col-md-2">
                Price
            </div>
            <div class="col-md-2">
                Category
            </div>
            <div class="col-md-2">
                Quantity
            </div>
        </div>
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-2">                        
                        <img src="@item.ImageUrl" style="width:100px;" />
                    </div>
                    <div class="col-md-2">
                        @item.Name
                    </div>
                    <div class="col-md-2">
                        @item.Description
                    </div>
                    <div class="col-md-2">
                        @item.Price
                    </div>
                    <div class="col-md-2">
                        @item.CategoryName
                    </div>
                    <div class="col-md-2">
                        @using (Html.BeginForm("AddToCard", "ShoppingCard"))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="productId" value="@item.Id" />
                            <input type="number" class="form-control" name="quantity" value="0" />
                            <input type="button" data-validate="true" value="Add to card" class="btn btn-primary" />
                        }
                    </div>
                </div>
            }
    </div>
</div>